@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@500&display=swap');

@font-face {
    font-family: Gilroy;
    src: url(Gilroy-ExtraBold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

html, body {
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    background-color: black;
    position: relative;
}

.back {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(8px);
}

.back img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    filter: brightness(0.5);
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #948686;
    border-radius: 50%;
    display: inline-block;
  }

#nav {  
    overflow: hidden;
    color: #fff;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw;
    border-bottom: 1px solid #888888;
}

#nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

#nav h2{
    font-size: 35px;
    font-weight: 600;
}

#nav ul li {
    background: linear-gradient(#00a1ff,#00ff8f);
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

a {
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}


#home {
    z-index: 10;
    height:100vh;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    position: relative;
}

#home .name {
    font-family: Gilroy;
    color: #ffffff;
    font-size: 6vw;
    -webkit-text-stroke: 1px #fff;
    -webkit-text-stroke-width: 1px;
}

#home span {
    font-weight: 400;
}

#home .name span:hover {
    color: #000000;
}

#home .developer {
    font-family: Gilroy;
    background: linear-gradient(#00a1ff,#00ff8f);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6.5vw;
    -webkit-text-stroke: 2px #fff;
    -webkit-text-stroke-width: 1px;
}


#home .greeting {
    font-size: 4vw;
    font-weight: 200;
    opacity: 0.7;
    color: white;
}

.scroll {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
}
.scr-dn {
    font-weight: 300;
    font-size: 14px;
    opacity: 0.8;
    padding: 15px 10px;
}
.arrow {
    font-size: 3vw;
    opacity: 0.8;
}

.arrow {
    font-size: 3vw;
    opacity: 0.6;
}

#about{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100vh;
    width: 100%;
    background-color: #000000;
}

#about .about-heading {
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

#about h1 {
    z-index: 2;
    font-size: 3vw;
}

.about-me {
    height: 70vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me .left {
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me .left img{
    height: 35vw ;
    object-fit: cover;
    filter: grayscale(1);
    transition: all ease 0.5s;
}

.about-me .left img:hover {
    filter: grayscale(0);
}


.about-me .right {
    height: 70%;
    width: 50%;
    font-size: 1.4vw;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}

.about-me span {
    font-weight: 800;
}

#skills {
    min-height: 100vh;
    width: 100%;
    color: white;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#skills #heading h1 {
    font-size: 5vw;
    margin-bottom: 10px;
}

#skills #heading h2 {
    font-weight: 500;
    opacity: 0.6;
}

#skill-set {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1vw 10vw;
}

#skills img {
    height: 80px;
    margin: 20px;
    object-fit: cover;
}

#skills .skill-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:150px;
    width: 150px;
    padding: 15px;
    margin: 10px;
    border-radius: 6px;
    background-color: #dadada;
    color: #000000;
    font-weight: 600;
}

#skills #heading span {
    color: #23cce2;
}

#footer {
    color: white;
    background-color: #201e1e;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw;
}

#footer h1 {
    font-size: 7vw;
}

#footer a:hover{
    text-decoration: underline;
}

#footer h4 {
    margin-top: 1vw;
    font-weight: 400;
}
@media (max-width:800px) {
    #home .greeting {
        font-size: 6vw;
        margin-bottom: 10px;
    }
    #home .name {
        font-size: 8vw;
    }

    #home .developer {
        font-size: 9vw;
    }

    .dots .dot {
        height: 10px;
        width: 10px;
    }

    #about .left{
        width: 50%;
    } 
    #about .right{
        width: 50%;
    } 

    #about h1 {
        width: 100%;
        text-align: center;
        font-size: 5vw;
        margin: 2vw 0;
    }

    #about img {
        filter: grayscale(0);
        height: 300px;
    }

    #about .right p {
        font-size: 2vw;
        letter-spacing: 0.8;
        line-height: 1.3;
    }
    
    #skills #heading h1 {
        font-size: 7vw;
    }

    #skill-set {
        padding: 3vw;
    }

    #skills img {
        height: 60px;
        width: 60px;
    }

    #skills .skill-card {
        height:100px;
        width: 100px;
        padding: 60px;
        font-size: 14px;
    }

    #footer {
        height: 100vh;
    }
    #footer h1 {
        font-size: 7.5vw;
    }

}

@media (max-width:680px) {

    #about {
        padding: 0px;
    }

    #about .left{
        height: 400px;
        width: 50%;
    } 
    #about .right{
        width: 50%;
    } 

    #about h1 {
        width: 100%;
        text-align: center;
        font-size: 5vw;
        margin: 2vw 0;
    }

    #about img {
        filter: grayscale(0);
        height: 40vw;
    }

    #about .right p {
        font-size: 2.5vw;
        letter-spacing: 0.5;
        line-height: 1.3;
        word-spacing: 0;
    }


}

@media (max-width:480px) {

    
    #home .name {
        font-size: 10vw;
    }
    #home .developer {
        font-size: 11vw;
    }
    #home .greeting {
        font-size: 8vw;
    }
    #home .scroll {

        margin-top: 35vw;
    }


    #about .about-me .left, #about .about-me .right{
        width: 100%;
        height: 50vh;
    }
    #about .about-me {
        flex-direction: column;
    }
    #about h1 {
        font-size: 7vw;
    }
    #about .left img {
        height: 70vw;
        width: 70vw;
        border-radius: 50%;
    }
    #about .about-me .right p{
        font-size: 5vw;
        text-align: center;
    }

    #skills #heading h1 {
        font-size: 9vw;
    }

    #skills #heading h2 {
        font-size: 4.8vw;
        opacity: 0.5;
    }

    #skill-set {
        padding: 1vw;
    }

    #skills img {
        height: 50px;
        width: 50px;
    }

    #skills .skill-card {
        height:50px;
        width: 50px;
        padding: 55px;
        font-size: 10px;
    }

    .dots {
        display: none;
    }

    #footer h1 {

        font-size: 12vw;
        line-height: 1.3;
    }
}
