@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@500&display=swap');

@font-face {
    font-family: Gilroy;
    src: url(Gilroy-ExtraBold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

html, body {
    height: 100%;
    width: 100%;
    cursor: none;
}

.container{
    width: 100%;
    background-color: black;
    position: relative;
}

.cursor {
    height: 18px;
    width: 18px;
    background-color: blue;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

.cursor-blur {
    height: 100px;
    width: 100px;
    background-color: blue;
    filter: blur(70px);
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    transition:0.3s ;
}

#home {
    z-index: 10;
    color: #fff;
    height:100vh;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    position: relative;
}

#home .name {
    font-family: Gilroy;
    color: #dadada;
    font-size: 6vw;
    -webkit-text-stroke: 2px #fff;
    -webkit-text-stroke-width: 1px;
}

#home .name:hover {
    color: #000000;
}

#home .developer {
    font-family: Gilroy;
    color: rgb(60, 57, 255);
    font-size: 5.5vw;
    -webkit-text-stroke: 2px #fff;
    -webkit-text-stroke-width: 1px;
}

#home .developer:hover {
    color: #000000;
}


#home .greeting {
    font-size: 4vw;
    font-weight: 200;
    opacity: 0.7;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
}
.scr-dn {
    font-weight: 300;
    font-size: 14px;
    opacity: 0.8;
    padding: 15px 10px;
}
.arrow {
    font-size: 3vw;
    opacity: 0.8;
}

#about{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    height: 100vh;
    width: 100%;
    background-color: #dadada;
}

#about h1 {
    z-index: 2;
    font-size: 3vw;
    margin-bottom: 20px; 
    border-bottom: 2px solid black;
}

.about-me {
    height: 70vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me .left img{
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    border: 5px solid black;
}


.about-me .right {
    width: 50%;
    font-size: 1.4vw;
    font-weight: 500;
}

.resume-btn {
    margin-top: 2vw;
    padding: 1vw 2vw;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.1vw;
    transition: all 0.3s;
}

.resume-btn:hover{
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background-color: #dadada;
}

#skills {
    z-index: 10;
    color: #fff;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 
.skills-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
} */

#skills h1 {
    margin-bottom : 3vw;
    text-align: center;
    font-size: 3vw;
    border-bottom: 2px solid white;
}

#myskills {
    /* padding-right: 8vw; */
    width: 33%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}


#myskills .technology {
    padding-bottom: 0.8vw;
    padding-top: 0.8vw;
    display: flex;
    align-items: center;
}

#myskills .technology h3 {
    margin-right: 1vw;
}
#myskills .technology .html {
    font-size: 1.8vw;
    color: #F16B31;
}
#myskills .technology .css {
    font-size: 1.8vw;
    color: #39ACDD;
}
#myskills .technology .javascript{
    font-size: 1.8vw;
    color: #EACC38;
}
#myskills .technology .reactjs {
    font-size: 1.8vw;
    color: #74CBE5;
}
#myskills .technology .mongodb {
    font-size: 1.8vw;
    color: #57AE52;
}
#myskills .bar {
    height: 2.3vw;
    width: 100%;
    border: 2px solid white;
}

#myskills .bar .fill {
    height: 2vw;   
    background-color: #dadada;
}

#myskills .bar .html {
    width: 85%;
}
#myskills .bar .css {
    width: 70%;
}
#myskills .bar .javascript {
    width: 50%;
}
#myskills .bar .reactjs {
    width: 40%;
}
#myskills .bar .mongodb {
    width: 65%;
}


#projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    max-height: 100%;
    width: 100%;
    background-color: #dadada;
    color: black;
}

#projects h1 {
    font-size: 3vw;
    margin: 3vw 2vw 2vw 2vw;
    border-bottom: 2px solid black;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 80%;
    margin-bottom: 2vw;
    background-color: rgb(171, 183, 236);
    border-radius: 10px;
    padding: 2vw;
    position: relative;
}

.cards .card-item {
    height: 280px;
    width: 280px;
    margin: 1vw;
    /* background-color: blue; */
    border-radius: 10px;
    background-color: #000000;
    color: white;
    /* padding: 1.5vw; */
    position: relative;
    overflow: hidden;
}
.text-content h2 {
    padding-bottom: 1vw;
}

.cards .card-item .text-content {
    background-color: #ffffff6b;
    border-top: 1px solid white;
    padding: 2vw;
    position: absolute;
    bottom: 0;
    transform: translateY(60%);
    transition: all 0.3s;
}
.cards .card-item:hover .text-content{
    transform: translateY(0%);
}


.cards .card-item h3 {
    font-size: 1.2vw;
    font-weight: 400;
}


#contact {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    color: #fff;
}

#contact .form {
    position: relative;
    height: 70vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 2vw 3vw 3vw 3vw;
    padding: 0.4vw;
}

#contact h1 {
    margin-top: 1.5vw;
    font-size: 3vw;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.form div {
    margin-bottom: 2vw;
}

label {
    font-weight: 600;
    font-size: 1.4vw;
}

input{
    outline: none;
    width: 100%;
    padding: 0.7vw;
    border: none;
    border-radius: 5px;
    background-color: #dadada;
    font-size: 16px;
    font-weight: 500;
}

textarea {
    outline: none;
    max-width: 100%;
    max-height: 30vh;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7vw;
    border: none;
    border-radius: 5px;
    background-color: #dadada;
}

input[type="submit"] {
    margin-top: 1vw;
    padding: 0.7vw;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: rgb(60, 57, 255);
    font-weight: 500;
    font-size: 1.2vw;
}

#footer {
    background-color: #dadada;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials i{
    font-size: 2.4vw;
    padding: 0.5vw;
}

#footer h4 {
    margin-top: 1vw;
    font-weight: 400;
}

